@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Anton font */
@font-face {
	font-family: "Anton";
	src: url("./media/fonts/Anton/Anton-Regular.woff2") format("woff2"), url("./media/fonts/Anton//Anton-Regular.woff") format("woff"), url("./media/fonts/Anton/Anton-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* Import CutiveMono font */
@font-face {
	font-family: "CutiveMono";
	src: url("./media/fonts/CutiveMono/CutiveMono-Regular.woff2") format("woff2"), url("./media/fonts/CutiveMono/CutiveMono-Regular.woff") format("woff"), url("./media/fonts/CutiveMono/CutiveMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html {
	background-color: rgb(30, 30, 30);
}
